@page "/contact"

<section class="container">
    <div class="columns">
        <div class="column">
            <h2 class="title">How to Find Us</h2>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14261.127977315386!2d120.57504640135399!3d15.173850209266027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3396f27ed3afbe8d%3A0x6ae26c077df1397!2sSM%20City%20Clark!5e0!3m2!1ses!2sph!4v1710326598393!5m2!1ses!2sph" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="columns form-wrapper">
        <div class="column">
            <h2 class="title">Contact Us</h2>
            <div class="columns">
                <div class="column">
                    <EditForm Model="ViewModel.FormData" OnValidSubmit="ViewModel.SendForm" >
                        <DataAnnotationsValidator />

                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded has-icons-left">
                                        <input class="input" type="text" placeholder="Name"
                                            @bind=ViewModel.FormData.Name />
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded has-icons-left has-icons-right">
                                        <InputText class="input"  placeholder="alex@smith.com"
                                            @bind-Value=ViewModel.FormData.Email/>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </p>
                                    <ValidationMessage For="() => ViewModel.FormData.Email" class="help is-danger" />
                                </div>
                                <div class="field">
                                    <p class="control is-expanded has-icons-left has-icons-right">
                                        <input class="input" type="text" placeholder="091234567890"
                                            @bind=ViewModel.FormData.Phone>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-phone"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <InputTextArea class="textarea" placeholder="Explain how we can help you"
                                            @bind-Value=ViewModel.FormData.Message />
                                    </div>
                                    <ValidationMessage For="() => ViewModel.FormData.Message" class="help is-danger" />
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-pink @(ViewModel.IsSending ? "is-loading":"")">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                    <label>
                       @ViewModel.Message
                    </label>
                </div>
                <div class="column">
                    <p>
                        This group is oriented to create a DEV community in Pampanga, main subject is .NET, but we can talk about anything relative to Software Developers.
                    </p>
                    <p>
                        We will have a week online meeting with TEAMS, where someone can share screen an teach others how to code, or only talk about coding, work experiences. Important is we can know each other and some day, when we can get sponsor, maybe we can do a conference, onece a year is my object.
                    </p>
                    <p>
                        No spam allowed, no job offers allowed, only share code and posts relative to code.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


