@page "/"

<SlidesComponent />

<SectionComponent>
    <SectionTopComponent Title="Welcome To Our Community" SubTitle="Our Community Has Over 33 members">
         <p>
            Welcome to the vibrant hub of programmers in Pampanga, Philippines! We're a dynamic community of over 60 members and counting, united by our passion for coding and innovation. Whether you're a seasoned developer or just starting your journey in the world of programming, you've found your home here.
         </p>
         <p>
            <a href="https://www.facebook.com/groups/pampangadev">
                <span class="icon" ><i class="fab fa-facebook" ></i></span>
                Join our group
            </a>
         </p>
    </SectionTopComponent>
</SectionComponent>
