<section class="hero is-large is-success">
    <div class="hero-body">
        <ul>
            @foreach (SlideItem slide in Slides)
            {
                if (slide.IsVisible == true)
                {
                    <li>
                        <h2 class="title">
                            @slide.Title
                        </h2>
                        <p class="subtitle">@slide.SubTitle</p>
                    </li>
                }
            }
        </ul>
        <ul class="bullets">
            @for (int i = 0; i < TotalSlides; i++)
            {
                int selectIndex = i;
                <li @onclick="() => StopAnimation(selectIndex)">
                    <span class="button is-rounded @(selectIndex == ActualSlide ? "is-active":"")"></span>
                </li>
            }
        </ul>
    </div>
</section>

